body {
	background-color: #ffffff;
	color: #000001;
	line-height: normal;
	text-align: center;
	font-size: 13px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	padding: 0;
	margin: 0;
	width: 500px;
}

tr:hover {
	box-shadow: 0.05em 0.0em 0.5em 0.05em #758E9D;
}

td:hover {
	box-shadow: 0.05em 0.05em 0.2em 0.05em #5F6E76;
}

a:hover {
	background-color: rgba(202, 234, 236, 0.5);
}