body {
	background-color: #eaeaea;
	font-size: 16px;
}

code {
	font-size: 1.05em;
	font-weight: 900;
	color: navy;
}

.editor {
	float: left;
}

.algorithm {
	width: 40%;
	float: left;
	min-width: 50em;
}

.warning{
	color: red;
}

.NB:before{
	content: "NB:";
	font-weight: bold;
}
