*.exe
.externalToolBuilders/*
.project
.pydevproject
.settings/*
apidocs/*
gulp/*
js/coverage/*
js_prod/*
node_modules/*
npm-debug.log
php/repo/*.html
repository/
statistics/*
test/coverage/*
test/coverage/*.json
tests/_output/*
vendor/*
yuidoc-bootstrap-theme/*