vendor/*
yuidoc-bootstrap-theme/*
npm-debug.log
test/coverage/*
test/coverage/*.json
node_modules/*
php/repo/*.html
apidocs/*
*.exe
.project
.pydevproject
.externalToolBuilders/*
.settings/*
repository/
tests/_output/*
statistics/*
js/coverage/*